In [6]:
import pandas as pd
df = pd.read_json('latency.jsonl', lines=True)
df.groupby('model_type')['elapsed'].describe()

,count,mean,std,min,25%,50%,75%,max
model_type,,,,,,,,
compl,20.0,0.000024,0.000007,0.000008,0.000021,0.000026,0.000028,0.000038
fn,20.0,0.000022,0.000009,0.000005,0.000017,0.000022,0.000027,0.000050