In [2]:
import pandas as pd
df = pd.read_json('../latency.jsonl', lines=True)
df.groupby('model_type')['elapsed'].describe()

,count,mean,std,min,25%,50%,75%,max
model_type,,,,,,,,
compl,20.0,0.000023,0.000008,0.000010,0.000019,0.000022,0.000025,0.000044
fn,20.0,0.000034,0.000061,0.000006,0.000018,0.000023,0.000026,0.000291